<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Tambahkan baris ini untuk mengabaikan folder percetakan
    # RewriteCond %{REQUEST_URI} !^/percetakan
    # RewriteCond %{REQUEST_URI} !^/indahcargo

    # Arahkan semua request ke folder public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>